@model IEnumerable<EvaluationSystem.Models.EvaluationRating>

@{
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationRatingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationRatingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EvaluationRatingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EvaluationRatingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EvaluationRatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
